{% extends 'homeownerbase.html' %}

{% load static %}

{% block homeowners %}

<h1>Applications for {{project.projectname}}</h1>

<table class="table">
    <tr>
        <th>S.No</th>
        <th>Contractor Name</th>
        <th>Design</th>
        <th>Estimated Budget</th>
        <th>Estimated Duration</th>
        <th>Status</th>
        <th>Submitted At</th>
        <th>Action</th>
    </tr>
    {% for a in applications %}
    <tr>
        <td>{{forloop.counter}}</td>
        
        <td>{{a.contractor.name}}</td>
        <td>
            {% if a.design_file %}
            <a href="{{a.desing_file.url}}" target="_blank" download="{{a.desing_file.url}}" class="btn btn-primary">View</a>
            {% else %}
            No Design File
            {% endif %}
        </td>
        <td>{{a.estimated_budget}}</td>
        <td>{{a.estimated_duration}}</td>
        <td>
            {% if a.status == 'pending' %}
            <span class="btn btn-warning">Pending</span>
            {% elif a.status == 'approved' %}
            <span class="btn btn-success btn-sm">Approved</span>
            {% elif a.status == 'rejected' %}
            <span class="btn btn-danger btn-sm">Rejected</span>
            {% else %}
            {{a.status}}
            {% endif %}
        </td>
        <td>{{a.submitted_at}}</td>
        <td>
            {% if project.contractor %}
                Assigned to {{project.contractor.name}}
            {% elif a.status == 'rejected' %} 
                <span class="btn btn-danger">Rejected</span> 
            {% elif a.status == 'approved' %}  
            {% else %}
            <a href="{% url 'approveapp' id=a.id %}" class="btn btn-success">Approve</a>
            <a href="{% url 'rejectapp' id=a.id %}" class="btn btn-danger">Reject</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}   