{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}
<div class="row">
    <div class="col-sm-12">
<h1>This is Dashboard</h1>
    </div>


    <div class="col-sm-4">
        <div class="card p-5">
            <h4>Total Homeowner</h4>
            <h2>{{th}}</h2>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card p-5">
            <h4>Total Contractor</h4>
            <h2>{{tc}}</h2>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card p-5">
            <h4>Ongoing Project</h4>
            <h2>40+</h2>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card p-5">
            <h4>Total Project</h4>
            <h2>{{tp}}</h2>
        </div>
    </div>
      <div class="col-sm-4">
        <div class="card p-5">
            <h4>Enquiry</h4>
            <h2>{{enqs}}</h2>
        </div>
    </div>

</div>


{% endblock %}